include README.md
include Makefile*
include LICENSE
include version-release-notes.txt
recursive-include . *.c
recursive-include loader *
recursive-include include *
recursive-include docs *
recursive-include lib *
